body{
  background-image:url("https://plus.unsplash.com/premium_photo-1684581214880-2043e5bc8b8b?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmxvZyUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D");
  background-size:cover;
  font-family:"Comic Sans MS",sans-serif;
}

.btn-outline-success{
  border:2px solid white;
  color:white;
}
.carousel-item{
  height:100vh;
}
.card-img-top{
  height:400px;

}
.cards{
  margin-left:95px;
}
.video{
  margin-left:25%;
  border:1px solid black;
  border-radius:20px;
}
#c{
  font-size:70px;
  text-align:center;
  font-weight:bolder;
  color:rgb(33, 22, 1);
}
#c1{
  font-size:70px;
  text-align:center;
  font-weight:bolder;
  color:rgb(245, 44, 104);
  margin-left:20px;
}
.navbar-brand{
  font-weight:bolder;
  color:aquamarine;
  text-decoration:underline;
}